/*Import Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/*CSS variables*/
:root {
    --primary-font: "Playfair Display", serif;
    --secondary-font: "Source Sans 3", serif;
    --primary-color: #041c2c
        /*dark blue*/
    ;
    --secondary-color: #042f79
        /*electric blue*/
    ;
    --button-color: #2d1915
        /*dark brown*/
    ;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/*Global styles*/
body {
    /*Pushes footer to the bottom*/
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

li {
    list-style-type: none;

}

h1 {
    font-family: var(--primary-font);
    color: var(--primary-color);
}

p {
    font-family: var(--secondary-font);
}

/*Header styles*/
header {
    background-color: var(--primary-color);
    /*Prevents heading from sticking to side of the screen*/
    padding: 0 1rem;
    /*For fixed header*/
    position: fixed;
    /*Header always visible*/
    z-index: 99;
    width: 100%;
    /*Box shadow*/
    box-shadow: 0px 2px 2px #02101a;
    /*Part 1 code for navbar dropdown menu*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    width: 7rem;
    padding-top: 10px;
}

/*Navbar styles*/
nav li {
    margin-bottom: 2px;
}

nav li a {
    color: white;
    text-decoration: none;
    font-family: var(--secondary-font);
    font-size: 1.2rem;
}

nav li>button {
    background-color: var(--button-color);
    border-radius: 5px;
    border: 2px solid var(--button-color);
    font-weight: bold;
}

nav li>button:hover {
    background-color: white;
    border-radius: 5px;
    border: 2px solid var(--button-color);
    font-weight: bold;
}

nav button>a:hover {
    color: var(--button-color);
}

nav>ul {
    padding-left: 0px;
}

.active {
    border-bottom: 1px solid white;
}

/*Navbar dropdown menu*/
nav {
    position: absolute;
    width: 100%;
    padding-left: 15px;
    background-color: var(--primary-color);
    box-shadow: 0px 2px 2px #02101a;
    /*Part 2 code dropdown menu*/
    left: 0;
    display: none;
    top: 100%;
}

/*Part 3 code dropdown menu*/
#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    color: white;
}

#nav-toggle:checked~nav {
    display: block;
}

/*Main styles*/
main {
    /*Main elment takes up any surplus space to push footer down*/
    flex: 1 0 auto;
    /*Makes main element visible again, because of header's position: absolute*/
    margin-top: 58px;
    
}

/*Recordings page*/
#recordings {
    text-align: center;
}

#recordings p {
    color: var(--secondary-color);
    font-weight: bold;
    margin-bottom: 2px;
}

/*Footer*/
footer {
    background-color: var(--primary-color);
}

#newsletter {
    text-align: center;
    color: white;
    padding-top: 10px;
    padding-bottom: -10px;
    font-size: 0.7rem;
    font-weight: bold;
}

#newsletter input {
    margin-top: 2px;
}

#newsletter button {
    background-color: var(--button-color);
    border-radius: 5px;
    border: 2px solid var(--button-color);
    font-weight: bold;
    color: white;
    margin-top: 4px;
    padding: 2px 1px;
}

#newsletter button:hover {
    background-color: white;
    border: 2px solid var(--button-color);
    color: var(--button-color);
    font-weight: bold;
}

#social-medias {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
}

#social-medias i {
    font-size: 160%;
    padding: 5%;
    color: white;
}

/*Media query: tablets and larger (768px and up)*/
@media screen and (min-width: 768px) {
    /*Header*/
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
    }

    /*Displays nav items in a row*/
    nav>ul {
        display: flex;
    }

    /*Adds some space inbetween the items*/
    nav li {
        padding-left: 1rem;
    }

    /*Hides menu burger icons*/
    .nav-toggle-label {
        display: none;
    }
}

/*Media query: laptops (992px and up)*/

@media screen and (min-width: 992px) {
    /*rules for underlined navbar links when hovered over*/
    nav li>a:hover {
        border-bottom: 1px solid white;
    }
}
