/*Import Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/*CSS variables*/
:root {
    --primary-font: "Playfair Display", serif;
    --secondary-font: "Source Sans 3", serif;
    --primary-color: #041c2c
        /*dark blue*/
    ;
    --secondary-color: #042f79
        /*electric blue*/
    ;
    --button-color: #2d1915
        /*dark brown*/
    ;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/*GLOBAL STYLES*/
body {
    /*Pushes footer to the bottom*/
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

ul>li {
    list-style-type: none;

}

h1,
h2,
h3 {
    font-family: var(--primary-font);
    color: var(--primary-color);
}

p {
    font-family: var(--secondary-font);
}

a {
    text-decoration: none;
}

/*HEADER STYLES*/
header {
    background-color: var(--primary-color);
    /*Prevents heading from sticking to side of the screen*/
    padding: 0 1rem;
    /*For fixed header*/
    position: fixed;
    /*Header always visible*/
    z-index: 99;
    width: 100%;
    /*Box shadow*/
    box-shadow: 0px 2px 2px #02101a;
    /*Part 1 code for navbar dropdown menu*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    width: 7rem;
    padding-top: 10px;
}

/*Navbar styles*/
nav li {
    margin-bottom: 2px;
    margin-top: 2px;
}

nav li a {
    color: white;
    font-family: var(--secondary-font);
    font-size: 1.2rem;
}

nav li button {
    background-color: var(--button-color);
    color: white;
    font-size: 1.2rem;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid var(--button-color);
    font-weight: bold;
}

nav li button:hover {
    background-color: white;
    color: var(--button-color);
    border-radius: 5px;
    border: 2px solid var(--button-color);
    font-weight: bold;
}

nav button>a:hover {
    color: var(--button-color);
}

nav>ul {
    padding-left: 0px;
}

.active {
    border-bottom: 2px solid white;
}

/*Navbar dropdown menu*/
nav {
    position: absolute;
    width: 100%;
    padding-left: 15px;
    background-color: var(--primary-color);
    box-shadow: 0px 2px 2px #02101a;
    /*Part 2 code dropdown menu*/
    left: 0;
    display: none;
    top: 100%;
}

/*Part 3 code dropdown menu*/
#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    color: white;
}

#nav-toggle:checked~nav {
    display: block;
}

/*MAIN STYLES*/
main {
    background-color: lightgrey;
    /*Main elment takes up any surplus space to push footer down*/
    flex: 1 0 auto;
    /*Makes main element visible again, because of header's position: absolute*/
    margin-top: 57px;
}

/*HOMEPAGE*/
/*Hero-section*/
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/hero-image.webp") no-repeat center center/cover;
    position: relative;
}

#page-title {
    background-color: rgba(4, 28, 44, 0.7);
    font-size: 2.3rem;
    text-align: center;
    position: absolute;
    top: 15px;
    width: 80%;
}

#page-title>h1 {
    color: white;
    text-shadow: 0.5px 0.5px black;
}

/*About-section*/
#about {
    padding-top: 57px;
    padding-bottom: 57px;
}

#about>div {
    margin: 5px;
}


#about h2 {
    margin: 10px auto;
    text-decoration: underline;
    text-align: center;
}

/*CONCERTS PAGE*/
#concerts {
    background-color: lightgrey;
}

#concerts>article>h1 {
    text-align: center;
    font-size: 200%;
}

#concert-list {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 5px;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
}

.align-left {
    align-self: flex-start;
    min-width: 70vw;
}

.align-right {
    align-self: flex-end;
    min-width: 70vw;
}

.smaller-font {
    font-size: 80%;
}

#concert-list>div {
    border: 2px solid rgb(3, 18, 29);
    background-color: rgb(3, 18, 29);
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}

.concert-image {
    height: 100%;
    width: auto;
    text-align: center;
    margin-bottom: 10px;
    border-bottom: 2px solid white;
}

.concert-image img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.concert-text>h2,
.concert-text>p,
.concert-text li {
    color: white;
}

.concert-text>p {
    margin-bottom: 4px;
}

.concert-text li {
    /*Adds some breathing space between the list items*/
    margin-top: 4px;
}

.concert-text>button {
    background-color: var(--button-color);
    border-radius: 5px;
    border: 2px solid var(--button-color);
    font-weight: bold;
    margin-top: 4px;
    padding: 10px;
}

.concert-text>button:hover {
    background-color: white;
    border: 2px solid var(--button-color);
    color: var(--button-color);
    font-weight: bold;
}

.concert-text a {
    color: white;
}

.concert-text>button>a:hover {
    color: var(--button-color);
}

/*RECORDINGS PAGE*/
#recordings {
    text-align: center;
}

#recordings>h1 {
    font-size: 200%;
}

#recordings p {
    color: var(--secondary-color);
    font-weight: bold;
    margin-bottom: 2px;
}

#recordings p>a {
    text-decoration: none;
}


#recordings p>a:hover {
    color: var(--button-color);
}

#recordings>h1 {
    padding: 10px;
}

#video-section {
    height: 90%;
    width: 100%;
    margin-right: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#video-section>div {
    margin: 10px;
    border: 2px solid rgb(3, 18, 29);
    background-color: rgb(3, 18, 29);
    border-radius: 10px;
    padding: 10px;
    text-align: start;
}

#video-section iframe {
    border-radius: 10px;
    width: 100%;
}

#video-section h2 {
    color: white;
    font-size: 90%;
}

/*GET IN TOUCH PAGE*/
/*Get-in-touch-section*/
.active-button {
    background-color: white;
    border: 2px solid var(--button-color);
    color: var(--button-color);
    font-weight: bold;
    border-radius: 5px;
}

#get-in-touch {
    height: 600px;
    width: 100%;
    background: url("../images/get-in-touch.webp") no-repeat center center/cover;
    position: relative;
}

#get-in-touch-overlay {
    background-color: rgba(4, 28, 44, 0.7);
    font-size: 2.3rem;
    text-align: center;
    position: absolute;
    bottom: 130px;
    width: 80%;
}

#get-in-touch-overlay>h1 {
    color: white;
    text-shadow: 0.5px 0.5px black;
}

/*Form section*/
#form-section {
    background-color: rgb(3, 18, 29);
}


#form {
    padding: 20px;
    max-width: 600px;
}

#form>input,
#form>textarea {
    font-family: var(--secondary-font);
    font-size: 15px;
    width: 80vw;
    border-radius: 5px;
    margin-top: 4px;
    padding: 15px;
}

#form>textarea {
    height: 200px;
}

#form>p {
    color: white;
    font-size: 0.7rem;
}

#form>button {
    background-color: var(--button-color);
    border-radius: 5px;
    border: 2px solid var(--button-color);
    font-weight: bold;
    color: white;
    margin-top: 4px;
    padding: 10px;
}

#form>button:hover {
    background-color: white;
    border: 2px solid var(--button-color);
    color: var(--button-color);
    font-weight: bold;
}

/*SUCCESS GET IN TOUCH PAGE*/
#success-get-in-touch {
    background: url("../images/get-in-touch.webp") no-repeat center center/cover;
    height: 600px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.wrapper {
    text-align: center;
    background-color: rgba(4, 28, 44, 0.5);
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
}

.wrapper * {
    margin-top: 5px;
}

.wrapper>h1 {
    font-size: 2rem;
    color: lightgrey;
    margin-left: 5px;
    margin-right: 5px;
}

.wrapper>p {
    color: white;
    font-size: 1rem;
}

.wrapper button {
    background-color: var(--button-color);
    border-radius: 5px;
    border: 2px solid var(--button-color);
    font-weight: bold;
    color: white;
    margin-bottom: 5px;
    padding: 10px;
}

.wrapper button:hover {
    background-color: white;
    border: 2px solid var(--button-color);
    color: var(--button-color);
    font-weight: bold;
}

.wrapper>button>a:hover {
    color: var(--button-color);
}

/*FOOTER*/
footer {
    background-color: var(--primary-color);
}

#newsletter {
    text-align: center;
    color: white;
    padding-top: 10px;
    padding-bottom: -10px;
    font-size: 0.7rem;
    font-weight: bold;
}

#newsletter>form>input {
    font-family: var(--secondary-font);
    border-radius: 5px;
    padding: 2.5px;
}

#newsletter button {
    background-color: var(--button-color);
    border-radius: 5px;
    border: 2px solid var(--button-color);
    font-weight: bold;
    color: white;
    margin-top: 4px;
    padding: 2px 1px;
}

#newsletter button:hover {
    background-color: white;
    border: 2px solid var(--button-color);
    color: var(--button-color);
    font-weight: bold;
}

#social-medias {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
}

#social-medias i {
    font-size: 160%;
    padding: 5%;
    color: white;
}

#copyright {
    text-align: center;
    font-size: 0.7rem;
    color: white;
    margin-bottom: 2px;
}

/*MEDIA QUERIES*/
/*Media query: tablets and larger (768px and up)*/
@media screen and (min-width: 768px) {

    /*HEADER*/
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
    }

    /*Displays nav items in a row*/
    nav>ul {
        display: flex;
    }

    /*Adds some space in between the items*/
    nav li {
        padding-left: 1rem;
    }

    /*Hides menu burger icons*/
    .nav-toggle-label {
        display: none;
    }

    /*HOMEPAGE*/
    /*Hero-section*/
    #page-title {
        width: 500px;
    }

    /*About-section*/
    #biography {
        display: flex;
        flex-wrap: wrap;
    }

    #biography>div {
        /*Displays biography paragraphs on two columns*/
        flex: 1 1 40%;
        box-sizing: border-box;
        padding: 10px;
        /*Makes biography text stand out more*/
        font-size: 1.2rem;
    }

    /*CONCERTS PAGE*/
    #concert-list {
        margin-left: 0px;
        margin-right: 0px;
    }

    .align-left {
        /*In order to display concert image and description next to each other*/
        display: flex;
        flex-direction: row;
    }

    .align-right {
        /*In order to display concert image and description next to each other*/
        display: flex;
        flex-direction: row;
    }

    .concert-image {
        border-bottom: none;
        border-right: 2px solid white;
    }

    .concert-image img {
        padding-top: 50px;
        padding-right: 10px;
        height: 100%;
        width: auto;
    }

    .concert-text {
        margin-left: 10px;
        width: 100%;
    }

    /*RECORDINGS PAGE*/
    #video-section>div {
        flex-basis: 45%;
    }

    /*GET IN TOUCH PAGE*/
    /*Get-in-touch-section*/
    #get-in-touch-overlay {
        width: 500px;
    }

    #form>input,
    #form>textarea {
        width: 65vw;
    }
}


/*Media query: laptops (992px and up)*/
@media screen and (min-width: 992px) {

    /*HEADER*/
    /*rules for underlined navbar links when hovered over*/
    nav li>a:hover {
        border-bottom: 1px solid white;
    }

    /*HOMEPAGE*/
    #page-title {
        width: 400px;
    }

    /*CONCERTS PAGE*/
    .align-left {
        min-width: 65vw;
    }

    .align-right {
        min-width: 65vw;
    }

    /*RECORDINGS PAGE*/
    #video-section>div {
        flex-basis: 40%;
    }


    /*GET IN TOUCH PAGE*/
    /*get-in-touch-section*/
    #get-in-touch {
        /*Shows more of the background-image at the top*/
        min-height: 800px;
    }

    #get-in-touch-overlay {
        width: 400px;
    }

    /*form-section*/
    #form>input,
    #form>textarea {
        width: 45vw;
    }

    /*SUCCESS GET IN TOUCH PAGE*/
    #success-get-in-touch {
        min-height: 800px;
    }
}


/*Media query: extra-large screens (1200px and up)*/
@media screen and (min-width: 1200px) {

    /*HOMEPAGE*/
    /*Hero-section*/
    #page-title {
        width: 500px;
        right: 0px;
        top: 25%;
        font-size: 2.5rem;
    }

    /*About-section*/
    #about h2 {
        font-size: 2rem;
    }

    /*CONCERTS PAGE*/
    .align-left {
        min-width: 60vw;
    }

    .align-right {
        min-width: 55vw;
    }

    /*RECORDINGS PAGE*/
    #video-section>div {
        flex-basis: 35%;
    }
}


/*Media query: xx-large screens (1400px and up)*/
@media screen and (min-width: 1400px) {

    /*RECORDINGS PAGE*/
    #video-section>div {
        flex-basis: 32%;
    }

    /*CONCERTS PAGE*/
    .align-left {
        min-width: 50vw;
    }

    .align-right {
        min-width: 47vw;
    }

    /*GET IN TOUCH PAGE*/
    /*get-in-touch-section*/
    #get-in-touch {
        /*Shows more of the background-image at the top*/
        min-height: 1000px;
    }

    /*SUCCESS GET IN TOUCH PAGE*/
    #success-get-in-touch {
        min-height: 1000px;
    }
}